.collapse {
    background-color: #f4f4f4;
    border-radius: var(--small-radius);
    flex-wrap: nowrap;
    height: min-content;

    .title {
        background-color: var(--theme-color);
        padding: 10px;
        border-radius: var(--small-radius);
        z-index: 3;

        h3 {
            margin: 0;
            cursor: pointer;
        }

        img {
            transition: transform 0.4s;
            cursor: pointer;
        }
    }

    .text {
        transition: max-height 0.4s;
        overflow: hidden;
        max-height: 0;

        p {
            white-space: pre-line;
            color: var(--theme-color);
            margin: 20px;
            font-weight: 400;
            line-height: 1.4;
            transition: all 0.4s;
            transform: translateY(-110%);
            opacity: 0;
        }
    }
}

.collapse.open {
    img {
        transform: rotate(180deg);
    }

    .text {
        max-height: 1000px;

        p {
            transform: translateY(0);
            opacity: 1;
        }
    }
}