header {
    padding: 3vh 0;
    margin: var(--content-margin);

    img {
        height: 50px;
        width: min-content;
    }

    a {
        color: black;
        text-decoration: none;
        margin-left: 50px;
    }

    a.active {
        text-decoration: underline;
    }

    @media all and (max-width: 991px) {
        img {
            height: 35px;
        }

        a {
            margin-left: 20px;
        }
    }
}