:root {
    --theme-color: #FF6060;
    --content-margin: 0 6vw;
    --main-radius: 25px;
    --small-radius: 10px;
}

h1, h2, h3, h4, p, a, span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex.column {
    flex-direction: column;
}

.flex.align-center {
    align-items: center;
}

.flex.align-end {
    align-items: end;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.row {
    flex-direction: row;
}

.font-main-title {
    font-size: 48px;
}

.font-title {
    font-size: 36px;
}

.font-medium {
    font-size: 24px;
}

.font-normal {
    font-size: 18px;
}

.font-small {
    font-size: 14px;
}

body {
    margin: 0;
    background-color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    background-color: white;
}

@media all and (max-width: 991px) {
    :root {
        --content-margin: 0 3vw;
        --main-radius: 10px;
    }

    .font-main-title {
        font-size: 24px;
    }

    .font-title {
        font-size: 20px;
    }

    .font-medium {
        font-size: 18px;
    }

    .font-normal {
        font-size: 16px;
    }

    .font-small {
        font-size: 10px;
    }
}
