.home {
    margin: var(--content-margin);

    .home-grid {
        padding: 2.5vw;
        margin: 40px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5vw;
        background-color: #F7F7F7;
        border-radius: var(--main-radius);
    }

    @media all and (max-width: 991px) {
        .home-grid {
            grid-template-columns: repeat(1, 1fr);
            padding: 0;
            background-color: unset;
        }
    }
}