.housing-sheet {
    margin: var(--content-margin);

    .head-sheet {
        flex-wrap: nowrap;
        margin: 20px 0;

        h1, span {
            color: var(--theme-color);
            margin: 0;
        }

        .titles {
            h1 {
                margin-bottom: 10px;
            }

            .tags {
                margin-top: 10px;
                gap: 15px;

                span {
                    margin: 5px 0;
                    color: white;
                    background: var(--theme-color);
                    border-radius: 10px;
                    padding: 3px 30px;
                }
            }
        }

        .profil {
            margin-left: 10vw;

            .info {
                flex-wrap: nowrap;

                img {
                    border-radius: 50%;
                    width: 64px;
                    margin-left: 10px;
                }
            }

            .rating {
                flex-wrap: nowrap;
                margin: 6px 0;
                gap: 14px;

                img {
                    height: 25px;
                }
            }
        }
    }

    .description {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-top: 10px;
        margin-bottom: 50px;
    }
}

@media all and (max-width: 991px) {
    .housing-sheet {
        .head-sheet {
            flex-direction: column;

            .profil {
                flex-direction: row-reverse;
                align-items: center;
                margin-left: 0;
                margin-top: 10px;

                .info img {
                    width: 52px;
                }

                .rating img {
                    height: 20px;
                }
            }
        }

        .description {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}